**/__pycache__/
**/*.py[cod]
**/*.pyo

**/.ipynb_checkpoints/

**/.env
**/*.env

**/venv/
**/.venv/
**/ENV/

**/*.pkl
**/*.joblib

**/.vscode/
**/.idea/

**/.DS_Store

**/*.log

**/docker-compose*
**/Dockerfile*

**/node_modules/

**/Data/

**/.git/
**/.gitignore

README.md

